* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(54, 57, 69);
}

#header {
    padding: 1rem;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: rgba(43,134,187,0.5);
    height: 8rem;
}

#header img {
    max-width: 20rem;
    max-height: 7rem;
}

#header nav {
    grid-column: 2/4;
    grid-row: 2;
}

#header a {
    display: inline-block;
}

#header a {
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0 1rem;
    color: rgba(237,237,237,1);
}

#header a:hover {
    cursor: pointer;
    background-color: rgba(44,142,189,0.65);
}

#header #login {
    border: solid;
    border-radius: 9px;
    border-color: rgba(44,142,189,0.65);
}


/*--------Main-------*/

main {
    min-height: calc(70vh - 10rem);
    margin: 5rem 30rem;
}

main h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

main h3 {
    font-size: 1.8rem;
    text-align: center;
    padding: 4rem 0 0.5rem 0;
}

main h4 {
    text-align: center;
    padding: 2rem 0 0 0;
    font-size: 1.1rem;
}

main p {
    text-align: center;
    font-size: 1.2rem;
}

main label {
    font-size: 1.2rem;
}


/*-------Footer-----*/

#footer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: rgba(44,142,189,0.65);
    color: rgba(227,227,227,1);
    padding: 1rem;
}

#footer h3 {
    grid-column: 2/3;
    color: rgba(227,227,227,1);
}

#footer a {
    color: rgba(227,227,227,1);
}

#github {
    padding-top: 0.5rem;
    grid-column: 2/3;
    grid-row: 2;
}

#linkedin {
    padding-top: 0.5rem;
    grid-column: 2/3;
    grid-row: 3;
}

#copyRight {
    grid-column: 5/6;
    grid-row: 3;
    color: rgba(227,227,227,1);
}
